.gender-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.price-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

body {
    padding-top: 70px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-body {
    flex: 1;
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Responsive Image Grid */
.responsive {
    padding: 0 6px;
    float: left;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.gallery a {
    flex: 1 1 calc(33.333% - 12px);
    box-sizing: border-box;
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    transition: transform 0.2s;
}
    
.gallery .text-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Carousel styling */
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .gallery a {
        flex: 1 1 calc(50% - 12px);
    }
}

@media (max-width: 400px) {
    .gallery a {
        flex: 1 1 100%;
    }
}